---
import Header from '../components/header.astro';
const { metadata } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{metadata.title}</title>
  <meta name="description" content={metadata.description} />
  <link rel="stylesheet" href="/styles/styles.css" />
</head>
<body>
  <Header title={metadata.title} />
  <main>
    <slot />
  </main>
  <footer class="bg-gray-800 text-white py-4">
    <div class="container mx-auto text-center px-4">
      <p>&copy; 2024 Producción de Hortalizas en Nariño</p>
    </div>
  </footer>
</body>
</html>
